# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Data Warehouse
DW_HOST=
DW_PORT=
DW_USER=
DW_PASSWORD=
DW_DB=

# Airflow
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW__CORE__FERNET_KEY=

# dbt
DBT_HOST=
DBT_PORT=
DBT_USER=
DBT_PASSWORD=
DBT_DB=
DBT_SCHEMA=