# ── Python packages for this project ──────────────────────────────────────────
# Note: apache-airflow itself is pre-installed in the Docker image.
# These are ADDITIONAL packages installed on top.

# dbt
dbt-core==1.7.4
dbt-postgres==1.7.4

# Data generation
faker==22.2.0

# Database
psycopg2-binary==2.9.9
SQLAlchemy==1.4.51

# Data processing
pandas==2.1.4
numpy==1.26.3

# Utilities
python-dotenv==1.0.1
